<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spread Tracker</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="app">
      <h1 class="center">
        <span class="teal">Realtime Spread</span> &
        <span class="teal" @click="showChart = true">Volatility in 24 hour</span> of Coinbase Pro assets
      </h1>

      <div id="assets-filter">
        <span><b>Filter:</b></span>
        <span v-for="quote in quotes" :key="quote">
          <label><input type="checkbox" :value="quote" v-model="checkedQuotes" /> {{quote}}</label>
        </span>
      </div>

      <div id="tbl">
        <div class="tbl-header">
          <span class="pointer" @click="changeSortBy('name')" title="Click to sort by Product Name."
            >Product <span v-if="sort_by == 'name'">&#x21E9;</span></span
          >
          <span
            class="pointer"
            @click="changeSortBy('spread')"
            title="Gap between best bid and best ask in percentage. Click to sort by Spread."
            >Spread <span v-if="sort_by == 'spread'">&#x21E9;</span></span
          >
          <span>Best Bid</span>
          <span
            class="pointer"
            @click="changeSortBy('volatility')"
            title="24hr low to 24hr high in percentage. Click to sort by Volatility."
            >Volatility
            <span v-if="sort_by == 'volatility'">&#x21E9;</span>
          </span>

          <span>Best Ask</span>

          <span
            class="pointer"
            @click="changeSortBy('polarity')"
            title="How far the current price is from mid of 24hr high and low in percentage. Click to sort by Polarity."
            >Polarity
            <span v-if="sort_by == 'polarity'">&#x21E9;</span>
          </span>
          <span class="pointer" @click="changeSortBy('quote_vol_24hr')"
            >Quote Volume <span v-if="sort_by == 'quote_vol_24hr'">&#x21E9;</span></span
          >
        </div>
        <transition-group name="list" tag="div">
          <div class="tbl-item" v-for="product_id in product_ids" :key="product_id">
            <span @click="loadTvWidget(product_id)">{{ product_id }}</span>
            <span>{{ products[product_id].spread }} %</span>
            <span>{{ products[product_id].best_bid }}</span>
            <span>{{ products[product_id].volatility }} %</span>
            <span>{{ products[product_id].best_ask }}</span>
            <span :class="poleSide(products[product_id].polarity)">{{ products[product_id].polarity }} %</span>
            <span>{{ getDisplayNum(products[product_id].quote_vol_24hr)}} {{product_id.split('-')[1]}}</span>
          </div>
        </transition-group>
      </div>

      <div id="tv-chart" v-show="showChart">
        <div class="close" @click="showChart = false" title="Close Chart">x</div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_79993"></div>
          <div class="tradingview-widget-copyright">
            <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"
              ><span class="blue-text">Track all markets on TradingView</span></a
            >
          </div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
            let windowWidth = window.innerWidth;
            let windowHeight = window.innerHeight;
            let chartWidth = 1280;
            let chartHeight = 980;
            let hideToolBar = false;

            if (windowWidth < windowHeight && windowWidth < 800) {
              chartWidth = windowWidth - 20;
              chartHeight = windowHeight - 200;
              hideToolBar = true;
            }

            if (windowWidth > windowHeight && windowHeight < 1000) {
              chartWidth = Math.floor((windowWidth * 75) / 100 - 20);
              chartHeight = windowHeight - 100;
            }

            var tvWidget = new TradingView.widget({
              width: chartWidth,
              height: chartHeight,
              symbol: "COINBASE:BTCUSD",
              interval: "60",
              timezone: "America/Chicago",
              theme: "dark",
              style: "1",
              locale: "en",
              toolbar_bg: "#f1f3f6",
              enable_publishing: false,
              hide_side_toolbar: hideToolBar,
              allow_symbol_change: true,
              studies: ["STD;Bollinger_Bands", "STD;MACD", "STD;RSI"],
              show_popup_button: true,
              popup_width: "1280",
              popup_height: "1080",
              container_id: "tradingview_79993",
            });
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
    <div id="connection-status">&#9608;</div>

    <!-- Production CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Development CDN link -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

    <script src="spread.js"></script>
    <script src="index.js"></script>
  </body>
</html>
