#assets-filter {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

#assets-filter span {
  padding: 5px;
}

#tbl {
  overflow-x: auto;
}

.tbl-header {
  font-weight: bold;
  background-color: rgb(38, 166, 154);
}

.tbl-item:nth-child(even) {
  background-color: rgb(221, 242, 240);
}

.tbl-item:hover {
  background-color: turquoise;
}

.tbl-item,
.tbl-header {
  box-sizing: border-box;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
}

#tv-chart{
  /* width: 1280px;
  height: 980px; */
  position: fixed;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%);
}

.close{
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: tomato;
  z-index: 999;
}

#connection-status {
  position: fixed;
  right: 0;
  bottom: 0;
}

.tbl-item span {
  padding: 5px;
}

.list-move {
  transition: transform 1s;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.teal {
  color: teal;
}

.red {
  color: red;
}

.green {
  color: green;
}

@media only screen and (min-width: 900px) {
  #tbl {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 0.75em;
  }

  h1 {
    font-size: 1.5em;
  }
}
